@using AtlasBlog.ViewModels
@model ContactMe

<!-- Main Content-->
<div class="d-flex container-fluid justify-content-center">

    <div class="col-4 col-md-6 fw-bold mb-3" style="color:seagreen">
        <form asp-action="ContactMe">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" rows="10" class="form-control"></textarea>
            </div>

            <div class="d-flex justify-content-center py-2">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-lg btn-outline-success border-3" />
                </div>
            </div>

        </form>
    </div>

</div>


